<!DOCTYPE html>
<!--[if lt IE 7]>
<html class="no-js lt-ie9 lt-ie8 lt-ie7">
  <![endif]-->
  <!--[if IE 7]>
  <html class="no-js lt-ie9 lt-ie8">
    <![endif]-->

    <html class="no-js lt-ie9">
      <![endif]-->
      <!--[if gt IE 8]><!-->
      <html class="no-js">
        <!--<![endif]-->
        <head>
          <meta charset="utf-8">
          <meta http-equiv="X-UA-Compatible" content="IE=edge">
          <title>NeuBoard</title>
          <meta name="description" content="">
          <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />
          <%= csrf_meta_tags %>

          <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
          <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
          <!-- Latest compiled and minified CSS -->
          <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
          <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet" integrity="sha384-wvfXpqpZZVQGK6TAh5PVlGOfQNHSoD2xbE+QkPxCAFlNEevoEH3Sl0sibVcOQVnN" crossorigin="anonymous">
          <!-- jQuery library -->
          <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>

          <!-- Latest compiled JavaScript -->
          <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
          <!-- Favicon -->
          <link rel="shortcut icon" href="assets/img/favicon.ico" type="image/x-icon">


          <!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries -->
          <!--[if lt IE 9]>
          <script src="assets/js/vendor/html5shiv.js"></script>
          <script <s></s>rc="assets/js/vendor/respond.min.js"></script>
          <![endif]-->
        </head>
        <body>
          <section id="main-wrapper" class="theme-default">
            <header id="header">
              <!--logo start-->
              <div class="brand">
                <a href="index.html" class="logo">
                <i class="icon-layers"></i>
                <span>NEU</span>BOARD</a>
              </div>
              <!--logo end-->
              <ul class="nav navbar-nav navbar-left">
                <li class="toggle-navigation toggle-left">
                  <button class="sidebar-toggle" id="toggle-left">
                  <i class="fa fa-bars"></i>
                  </button>
                </li>
                <li class="toggle-profile hidden-xs">
                  <button type="button" class="btn btn-default" id="toggle-profile">
                  <i class="icon-user"></i>
                  </button>
                </li>
                <li class="hidden-xs hidden-sm">
                  <input type="text" class="search" placeholder="Search project...">
                  <button type="submit" class="btn btn-sm btn-search"><i class="fa fa-search"></i>
                  </button>
                </li>
              </ul>
              <ul class="nav navbar-nav navbar-right">
                <li class="dropdown profile hidden-xs">
                  <a href="javascript:void(0);" class="dropdown-toggle" data-toggle="dropdown">
                  <span class="meta">
                  <span class="avatar">
                  <img src="assets/img/profile.jpg" class="img-circle" alt="">
                  </span>
                  <span class="text">Mike Adams</span>
                  <span class="caret"></span>
                  </span>
                  </a>
                  <ul class="dropdown-menu animated fadeInRight" role="menu">
                    <li>
                      <span class="arrow top"></span>
                      <h5>
                        <span>80%</span>
                        <small class="text-muted">Profile complete</small>
                      </h5>
                      <div class="progress progress-xs">
                        <div class="progress-bar progress-bar" style="width: 80%">
                        </div>
                      </div>
                    </li>
                    <li class="divider"></li>
                    <li>
                      <a href="javascript:void(0);">
                      <span class="icon"><i class="fa fa-user"></i>
                      </span>My Account</a>
                    </li>
                    <li>
                      <a href="javascript:void(0);">
                      <span class="icon"><i class="fa fa-envelope"></i>
                      </span>Messages</a>
                    </li>
                    <li>
                      <a href="javascript:void(0);">
                      <span class="icon"><i class="fa fa-cog"></i>
                      </span>Settings</a>
                    </li>
                    <li class="divider"></li>
                    <li>
                      <a href="javascript:void(0);">
                      <span class="icon"><i class="fa fa-sign-out"></i>
                      </span>Logout</a>
                    </li>
                  </ul>
                </li>
                <li class="toggle-fullscreen hidden-xs">
                  <button type="button" class="btn btn-default expand" id="toggle-fullscreen">
                  <i class="fa fa-expand"></i>
                  </button>
                </li>
                <li class="toggle-navigation toggle-right">
                  <button class="sidebar-toggle" id="toggle-right">
                  <i class="fa fa-indent"></i>
                  </button>
                </li>
              </ul>
            </header>
            <!--main content start-->
            <section class="main-content-wrapper">
              <section id="main-content">
                <div class="row">
                  <div class="col-md-12">
                    <section class="panel  timeline-post-to">
                      <div class="panel-body">
                        <form role="form">
                          <textarea class="form-control" placeholder="What's on your mind?"></textarea>
                          <div class="row">
                            <div class="col-sm-6">
                              <a class="btn btn-sm btn-default"><i class="fa fa-camera"></i></a>
                              <a class="btn btn-sm btn-default"><i class="fa fa-video-camera"></i></a>
                              <a class="btn btn-sm btn-default"><i class="fa fa-music"></i></a>
                              <a class="btn btn-sm btn-default"><i class="fa fa-map-marker"></i></a>
                            </div>
                            <div class="col-sm-6 text-right">
                              <button type="submit" class="btn btn-primary">Post</button>
                            </div>
                          </div>
                        </form>
                      </div>
                    </section>
                    <section class="panel  timeline-post">
                      <div class="panel-body">
                        <ul>
                          <li>
                            <div class="date">
                              <span>23</span>
                              <span class="small">Feb</span>
                            </div>
                            <h4>Lorem ipsum dolor sit</h4>
                            <p>
                              Tortor metus suscipit lectus lacinia mi. Duis quis ullamcorper, felis consequat ut felis sit, pellentesque sit nunc, porttitor a, neque enim metus sed dictum scelerisque. Ante ornare, ante nunc ac, et feugiat justo urna, pharetra velit convallis, sit magna odio in nunc sit.
                            </p>
                          </li>
                          <li>
                            <div class="date">
                              <span>14</span>
                              <span class="small">Feb</span>
                            </div>
                            <h4>Something good can work.</h4>
                            <p>
                            <div class='embed-container'>
                              <iframe src='//player.vimeo.com/video/16566326?title=0&amp;byline=0&amp;portrait=0"' frameborder='0' webkitAllowFullScreen mozallowfullscreen allowFullScreen></iframe>
                            </div>
                            </p>
                          </li>
                          <li>
                            <div class="date">
                              <span>12</span>
                              <span class="small">Jan</span>
                            </div>
                            <h4>Lorem ipsum dolor!</h4>
                            <p>
                              Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat.
                            </p>
                          </li>
                          <li>
                            <div class="date">
                              <span>01</span>
                              <span class="small">Jan</span>
                            </div>
                            <h4>Vacation photos</h4>
                            <div class="row">
                              <div class="col-md-6">
                                <img src="assets/img/vac-1.jpg" alt="" />
                              </div>
                              <div class="col-md-6">
                                <img src="assets/img/vac-2.jpg" alt="" />
                              </div>
                            </div>
                            <div class="row">
                              <div class="col-md-6">
                                <img src="assets/img/vac-3.jpg" alt="" />
                              </div>
                              <div class="col-md-6">
                                <img src="assets/img/vac-4.jpg" alt="" />
                              </div>
                            </div>
                          </li>
                          <li>
                            <div class="date">
                              <span>23</span>
                              <span class="small">Dec</span>
                            </div>
                            <h4>Lorem ipsum dolor!</h4>
                            <p>
                              Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat.
                            </p>
                          </li>
                          <li>
                            <div class="date">
                              <span>14</span>
                              <span class="small">Dec</span>
                            </div>
                            <h4>Lorem ipsum dolor!</h4>
                            <p>
                              Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat.
                            </p>
                          </li>
                        </ul>
                      </div>
                    </section>
                  </div>
                </div>
              </section>
            </section>
            <!--main content end-->
          </section>
          <!--Config demo-->
          <!--/Config demo-->
          <!--Global JS-->
          <%= javascript_include_tag 'jquery.fullscreen-min.js', 'data-turbolinks-track': 'reload' %>
          <%= javascript_include_tag 'jquery.navgoco.min.js', 'data-turbolinks-track': 'reload' %>
          <%= javascript_include_tag 'switchery.min.js', 'data-turbolinks-track': 'reload' %>
          <%= javascript_include_tag 'switchery.min.js', 'data-turbolinks-track': 'reload' %>
          <%= javascript_include_tag 'app.js', 'data-turbolinks-track': 'reload' %>
        </body>
      </html>

